.signin-container,
.signup-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: #fcdde1;
  font-family: sans-serif;
}

.signin-left,
.signup-left {
  flex: 1;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.signin-left h1,
.signup-left h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.signin-left p,
.signup-left p {
  margin-bottom: 2rem;
  font-size: 1.2rem;
}

label {
  font-weight: bold;
  margin-top: 1rem;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 0.75rem;
  border-radius: 10px;
  border: none;
  background-color: #d676b4;
  margin-top: 0.5rem;
  color: white;
}

.password-input {
  position: relative;
}

.eye-icon {
  position: absolute;
  right: 10px;
  top: 12px;
  cursor: pointer;
}

.signin-options,
.terms {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
}

.login-btn {
  background-color: #003cb3;
  color: white;
  padding: 0.75rem;
  border: none;
  border-radius: 10px;
  font-size: 1.1rem;
  cursor: pointer;
  width: 100%;
  margin-top: 1rem;
}

.signup-btn {
  margin-top: 1rem;
  padding: 0.6rem 1.2rem;
  background-color: #003cb3;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
}

.signin-footer {
  margin-top: 1.5rem;
}

.signin-footer a {
  color: #ff5e5e;
  font-weight: bold;
  text-decoration: none;
}

.signin-right,
.signup-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signin-right img,
.signup-right img {
  max-width: 80%;
  height: auto;
}
